/* ========================================= */
/* ALERTAS */
/* ========================================= */

.alert{

    padding:14px 18px;

    border-radius:12px;

    margin-bottom:12px;

    font-weight:600;

}

/* ========================================= */
/* INFO */
/* ========================================= */

.info{

    background:#dbeafe;

    color:#1e40af;

}

/* ========================================= */
/* WARNING */
/* ========================================= */

.warning{

    background:#f59e0b;

    color:white;

}

/* ========================================= */
/* ERROR */
/* ========================================= */

.danger-alert{

    background:#fee2e2;

    color:#991b1b;

}

/* ========================================= */
/* FLASH */
/* ========================================= */

.flash-message{

    margin-bottom:20px;

    border-left:5px solid #38bdf8;

    box-shadow:
        0 5px 20px rgba(14,165,233,.15);

}