<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>Acceso QR | Mantenimiento</title>

    <link rel="stylesheet"
        href="{{ url_for('static',
        filename='css/paginas/mantenimiento.css') }}">

</head>

<body>

    <div class="box">

        <h1>🔧 Acceso QR</h1>

        <h2>Sistema en mantenimiento</h2>

        <p>
            Estamos realizando mejoras para brindarte una mejor experiencia.
        </p>

        <p class="status">
            Actualización en progreso...
        </p>

        <p>
            Intenta nuevamente en unos minutos.
        </p>

    </div>

</body>

</html>