/* =========================================================
   FOOTER
========================================================= */

.footer{

    text-align:center;

    padding:25px;

    color:#666;

}

/* =========================================================
   DARK MODE
========================================================= */

.dark-mode .footer{

    color:#94a3b8;

}